<html>
    <head>
        <style>
            body {
                background-color: lightgreen;
            }
        </style>
        <title>Linear Regression(DT) algorithm</title>
    </head>
    <body>
        <div style="background-color: rgb(83, 172, 197);">
        <div style="text-align: center;">
            <h1>Decision Tree Algorithm</h1>
            <h2>predicts to which class of stellar an existing star belongs to.</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Enter the alpha = Right Ascension angle:</td>
                    <td><input type="text" name="q"></td>
                </tr>
                <tr>
                    <td>Enter the delta = Declination angle :</td>
                    <td><input type="text" name="w"></td>
                </tr>
                <tr>
                    <td>Enter the Ultraviolet filter in the photometric system:</td>
                    <td><input type="text" name="e"></td>
                </tr>
                <tr>
                    <td>Enter the Green filter in the photometric system :</td>
                    <td><input type="text" name="r"></td>
                </tr>
                <tr>
                    <td>Enter the  Red filter in the photometric system:</td>
                    <td><input type="text" name="t"></td>
                </tr>
                <tr>
                    <td>Enter the  Near Infrared filter in the photometric system:</td>
                    <td><input type="text" name="m"></td>
                </tr>
                <tr>
                    <td>Enter the Infrared filter in the photometric system</td>
                    <td><input type="text" name="u"></td>
                </tr>
                <tr>
                    <td>Enter the run_ID :</td>
                    <td><input type="text" name="i"></td>
                </tr>
                <tr>
                    <td>Enter the rerun_ID:</td>
                    <td><input type="text" name="o"></td>
                </tr>

                <tr>
                    <td>Enter the cam_col:</td>
                    <td><input type="text" name="p"></td>
                </tr>
                <tr>
                    <td>Enter the field_ID:</td>
                    <td><input type="text" name="a"></td>
                </tr>
                <tr>
                    <td>Enter the spec_obj_ID:</td>
                    <td><input type="text" name="s"></td>
                </tr>
                <tr>
                    <td>Enter the redshift:</td>
                    <td><input type="text" name="d"></td>
                </tr>
                <tr>
                    <td>Enter the plate:</td>
                    <td><input type="text" name="f"></td>
                </tr>
                <tr>
                    <td>Enter the MJD:</td>
                    <td><input type="text" name="g"></td>
                </tr>
                <tr>
                    <td>Enter the Fiber ID:</td>
                    <td><input type="text" name="h"></td>
                </tr>
                <tr>
                    <td><h3>The Gastral object is: </h3></td>
                    <td> <h3>{{ result }}</h3></td>
                </tr>
                <tr>
                    <td><h3> Accuracy of the Prediction is:</h3></td>
                    <td><h3>{{ acc }}</h3></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Predict"></td>       
            </table>
        </form>
        </div>
    </body>
</html>
